/* General body styling */
body {
  background-color: #001f3f; /* Dark blue background */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 10px 0; /* Decrease padding to the top and bottom of the window */
}

/* Container styling */
.container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  padding-top: 0px;
}

/* Form styling */
.form {
  background-color: #cccccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

/* Form header styling */
.form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

/* Form label styling */
.form label {
  font-weight: bold;
  color: #555555;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/* Form input styling */
.form input {
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Form button styling */
.form button {
  background-color: #4faa65;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

/* Form button hover effect */
.form button:hover {
  background-color: #218838;
}

/* Logo styling */
.logo {
  display: block;
  margin: 0 auto 20px auto;
  border: 5px solid #8B0000;
  border-radius: 8px;
  background-color: #001f3f;
  padding: 10px;
  width: 100%;
  max-width: 350px;
}

/* Create user button styling */
.create-user-button {
  width: 100%;
  max-width: 350px; /* Match the width of the logo */
  margin-top: 10px;
  margin: 0 auto; /* Center the button */
}

/* Cart item image styling */
.cart-item-image {
  width: 30px;
  height: 30px;
}

/* Product card styling */
.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  border: 5px solid #8B0000;
  border-radius: 8px;
  padding: 2px;
  margin-bottom: 0px; /* Space between rows */
  width: 100%;
  max-width: 600px; /* Fixed width */
  margin: 10px auto; /* Center the card */
}

/* Product card image styling */
.product-card-image {
  width: 100%;
  height: auto;
  max-width: 12rem;
  max-height: 12rem;
  object-fit: cover;
  margin-left: 10px; /* Move image to the right side */
}

/* Product card body styling */
.product-card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Product card title styling */
.product-card-title {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

/* Product card price styling */
.product-card-price {
  font-size: 1.5rem; /* Increase font size */
  text-align: center;
  margin-bottom: 10px;
}

/* Product card buttons container styling */
.product-card-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Increase spacing between buttons and text */
}

/* Product card buttons styling */
.product-card-buttons button {
  margin-left: 5px;
}

/* Cart container styling */
.cart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 600px; /* Match the width of the product cards */
  margin: 10px auto;
  z-index: 1000;
}

.cart-toggle-button {
  width: 100%;
  text-align: center;
  background-color: #4faa65;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
}

.cart-content {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

/* Log out button styling */
.logout-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  margin: 10px auto; /* Center the log out button */
  z-index: 1000;
}

.logout-button {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1240px) {
  .cart-container {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .cart-toggle-button {
    text-align: center;
  }

  .cart-content {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .logout-button-container {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .logout-button {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .product-card-image {
    max-width: 10rem;
    max-height: 10rem;
  }
}

@media (max-width: 992px) {
  .product-card-image {
    max-width: 8rem;
    max-height: 8rem;
  }
}

@media (max-width: 768px) {
  .product-card-image {
    max-width: 6rem;
    max-height: 6rem;
  }
}

@media (max-width: 576px) {
  .product-card-image {
    max-width: 4rem;
    max-height: 4rem;
  }

  .cart-container {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .cart-toggle-button {
    text-align: center;
  }

  .logout-button-container {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .logout-button {
    text-align: center;
  }
}