body {
  background-color: #001f3f; /* Dark blue background */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px 0; /* Add padding to the top and bottom of the window */
}

.container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  padding-top: 20px; /* Add padding to the top of the container */
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

.form label {
  font-weight: bold;
  color: #555555;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form input {
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form button {
  background-color: #28a745;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.form button:hover {
  background-color: #218838;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  border: 5px solid #8B0000; /* Dark red border */
  border-radius: 8px;
  background-color: #001f3f; /* Dark navy blue background */
  padding: 10px;
  width: 100%;
  max-width: 400px; /* Ensure the logo is relatively small */
}

.create-user-button {
  width: 100%;
  margin-top: 10px;
}

/* Add custom CSS for small product images in the cart */
.cart-item-image {
  width: 30px; /* Very small width */
  height: 30px; /* Very small height */
}

/* Add custom CSS for product card images */
.product-card-image {
  max-width: 300px; /* Max width of 300px */
  width: 100%;
  height: auto;
}

/* Add padding to the top border of the window */
.buyer-dashboard-container {
  padding-top: 20px;
}