/* General body styling */
body {
  background-color: #001f3f;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 10px 0;
}

/* Container styling */
.container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  padding-top: 0px;
}

/* Navbar styling */
.navbar {
  background-color: #f8f9fa !important;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  margin-right: 20px;
  font-size: 1rem;
}

.navbar-nav .nav-link:last-child {
  margin-right: 0;
}

/* Cart dropdown styling */
.cart-dropdown {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  overflow-x: hidden;
  text-align: center;
}

.cart-dropdown .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cart-dropdown .cart-item:last-child {
  border-bottom: none;
}

.cart-dropdown .cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-dropdown .cart-item-details {
  flex-grow: 1;
  margin-right: 10px;
}

.cart-dropdown .cart-item-details p {
  margin: 0;
}

.cart-dropdown .remove-from-cart-button {
  margin-left: auto;
}

.cart-dropdown .cart-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
}

.cart-dropdown .checkout-button {
  text-align: center;
  padding: 10px 0;
}

.cart-dropdown .product-name {
  font-weight: bold;
}

/* Form styling */
.form {
  background-color: #cccccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

.form label {
  font-weight: bold;
  color: #555555;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form input {
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form button {
  background-color: #4faa65;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.form button:hover {
  background-color: #218838;
}

/* Logo styling */
.logo {
  display: block;
  margin: 0 auto 20px auto;
  border: 5px solid #8B0000;
  border-radius: 8px;
  background-color: #001f3f;
  padding: 10px;
  width: 100%;
  max-width: 260px;
}

/* Create user button styling */
.create-user-button {
  width: 100%;
  max-width: 350px;
  margin-top: 10px;
  margin: 0 auto;
}

/* Product card styling */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  border: 5px solid #8B0000;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
  width: 100%;
  max-width: 300px;
}

.product-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-info {
  text-align: center;
  margin-bottom: 10px;
}

.product-card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-card-price {
  font-size: 1.3rem;
  color: #555;
}

.product-card-image {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.product-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.product-card-buttons button {
  width: 40px;
}

.in-stock-text {
  text-align: center;
  margin-bottom: 20px;
}

.add-to-cart-button {
  text-align: center;
  white-space: pre-line;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Log out button styling */
.logout-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  z-index: 1000;
}

.logout-button {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 0;
  cursor: pointer;
}

/* Order card styling */
.order-card {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.order-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-card-content {
  margin-bottom: 15px;
}

.order-card-content p {
  margin: 0;
}

.order-card-content .product-name {
  font-weight: bold;
}

.order-card-total {
  font-weight: bold;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

/* Order history header styling */
.order-history-header {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.order-history-header h1 {
  color: #000;
  margin: 0;
}

/* Header container styling */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Log out button styling for OrderHistory page */
.order-history-logout-button {
  background-color: #c9c9c9;
  color: #000;
  border: 1px solid #c9c9c9;
  margin-top: 10px;
}

.order-history-logout-button:hover {
  background-color: #f0f0f0;
}

/* Return to Dashboard button styling for OrderHistory page */
.return-to-dashboard-button {
  margin-top: 15px;
}

/* Success toast styling */
.toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
}

.toast-success {
  background-color: #4faa65;
  color: #ffffff;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 1240px) {
  .logout-button-container {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .logout-button {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .product-card-image {
    max-width: 11rem;
    max-height: 11rem;
  }
}

@media (max-width: 992px) {
  .product-card-image {
    max-width: 10rem;
    max-height: 10rem;
  }
}

@media (max-width: 768px) {
  .product-card-image {
    max-width: 9rem;
    max-height: 9rem;
  }
}

@media (max-width: 576px) {
  .product-card-image {
    max-width: 8rem;
    max-height: 8rem;
  }

  .logout-button-container {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .logout-button {
    text-align: center;
  }

  .cart-dropdown {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .cart-dropdown {
    max-width: 500px;
    min-width: 300px;
  }
  .order-history-logout-button {
    margin-left: 10px;
  }
}

/* Custom class to remove margin-bottom */
.no-margin-bottom {
  margin-bottom: 0 !important;
}